* { margin: 0px;
   padding: 0pxf;
   box-sizing: border-box;
   
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  

}

.container
{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0  15px;

}

.row{
    
display: flex;
width: 100%;
justify-content: space-between;
margin: 0 -15px;
}
.col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50% ;
    padding: 0 15px;
    
    }
    .logo {
        width: 100px;
        height: 50px;
        padding-top: 20px;
    }
    .logo img {

            width: 100%;
}
    

    .flex-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        
       
      }
      .search-bar-2 {

        border-left: 2px solid white;

      }
    
      section {
        background: #19283f;
        width: 100%;
        padding-bottom: 130px;
    }
    .flex-container > div a {
        text-decoration: none;
        font-size: 15px;
        color: #a8b9c0;
        background-color:none ;
        padding: 10px 20px;

    }
    .flex-container > div a:active {
        text-decoration: none;
        font-size: 15px;
        color: #01adf7;
        background-color:none ;
        padding: 10px 20px;
        
    }
    .Creativety  {
        text-align: center;
 
    }
    .Creativety  h1 {
       text-align: center;

   }
    .Creativety  h1 {
         font-size: 51px;
         color: #f0f8fb;


    }
    .Creativety  p  {
        font-size: 15px;
        color: #f0f8fb;
        padding-top: 25px;
        padding-bottom: 25px;


   }
   .Creativety  button {
    background-color: #ff3150;
    font-size: 15px;
    color: #ffc501;
    border-radius: 20px;
    padding: 15px 55px ;
    
    


}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 145px;
}

.right-nav button {
 color: #ff3150;
 padding: 10px 20px;

}

.login-1 a  {

    background-color: #ff3150;
    color: rgb(255, 255, 255);
    padding : 16px 34px ;
    border-radius: 15px;


}
